<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="git" 
            packageParameters="/WindowsTerminal /NoShellIntegration"
    />
    <package id="tortoisegit" 
            packageParameters="/WindowsTerminal /NoShellIntegration"
    />
    <package id="visualstudio2017community"
            packageParameters="--includeRecommended --locale en-US"
    />
    <package id="visualstudio2017-workload-nativedesktop"
            packageParameters="--includeRecommended"
    />
</packages>
